<app-hud-status></app-hud-status>

<mat-card class="main-card">
  <mat-grid-list cols='2' class="sensors-list">
    <mat-grid-tile *ngFor="let s of sensors" [ngSwitch]="s.generic">

      <div *ngSwitchCase="'Double'">{{s.sensor}}:{{s.value}}</div>
      <div *ngSwitchCase="'Vector3'">{{s.sensor}}:{{s.value.x}},{{s.value.y}},{{s.value.z}}</div>
      <div *ngSwitchCase="'String'">{{s.sensor}}:<img [src]="'data:image/jpg;base64,' +s.value " /></div>
      <div *ngSwitchDefault>{{s.sensor}}: UNKNOWN TYPE</div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<app-hud-map></app-hud-map>