<!--
<mat-card class="main-card">
  <mat-grid-list cols='2' class="sensors-list">
    <ng-container *ngFor="let s of sensors">
      <mat-grid-tile *ngIf="s.data" [ngSwitch]="s.data.generic">
        <ng-container *ngIf="s.details">
            <div *ngSwitchCase="'Double'">{{s.name}}: <span [ngClass]="s.data.value >= s.details.value.MIN_VALUE && s.data.value <= s.details.value.MAX_VALUE ? 'greenClass' : 'redClass'">{{s.data.value}}</span></div>
            <div *ngSwitchCase="'Vector3'">{{s.name}}:{{s.data.value.x}},{{s.data.value.y}},{{s.data.value.z}}</div>
            <div *ngSwitchCase="'String'">{{s.name}}:<img [src]="'data:image/jpg;base64,' +s.data.value " /></div>
            <div *ngSwitchDefault>{{s.name}}: UNKNOWN TYPE</div>
        </ng-container>
        <ng-container *ngElse>
            <div *ngSwitchCase="'Double'">{{s.name}}: {{s.data.value}}</div>
            <div *ngSwitchCase="'Vector3'">{{s.name}}:{{s.data.value.x}},{{s.data.value.y}},{{s.data.value.z}}</div>
            <div *ngSwitchCase="'String'">{{s.name}}:<img [src]="'data:image/jpg;base64,' +s.data.value " /></div>
            <div *ngSwitchDefault>{{s.name}}: UNKNOWN TYPE</div>
        </ng-container>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</mat-card>
-->
<app-hud-menu></app-hud-menu>
<header>
  <div id="controls">
    <button mat-button (click)="connect()">Connect</button>
    <button mat-button (click)="disconnect()">Disconnect</button>
  </div>
</header>

<div id="hud-container">
    <app-hud-camera>
    </app-hud-camera>
    
    <div id="center">
      
      
      <app-hud-light></app-hud-light>
      <app-hud-pressure></app-hud-pressure>
    </div>
    <footer>
      <app-hud-map></app-hud-map>
    </footer>

    
</div>
