.greenClass { background-color: green }
.redClass { background-color: red }




app-hud-menu
{
    z-index:3;
    
}

app-hud-camera
{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
}

div#hud-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
}

@media only screen
{
    @media (orientation:landscape)
    {
        app-hud-camera
        {
            justify-content: center;
        }

        
        div#hud-container
        {
            width:100%;
            height:100%;
        }

        footer
        {
            position: absolute;
            width: 25%;
            height: 28%;
            bottom: 3%;
            left: 3%;
        }
    }

    @media (orientation:portrait)
    {
        app-hud-camera
        {
            justify-content: flex-start;
        }

        div#hud-container
        {
            width:100%;
            flex-wrap: wrap;
        }

        footer
        {
            
            width: 25%;
            height: 28%;
            
        }
    }
}



.mat-icon
{
    width:30px;
    height:30px;
}





#hud-container div#center
{
    display:none;
}

header
{
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 5;
}

nav
{
    position: absolute;
    left: 5%;
    top: 1%;
    z-index: 3;
}
 



app-hud-map
{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0px;
}



app-hud-status
{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

app-hud-menu
{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}


@media only screen
{

    .toolbar {
        z-index: 3;
        position: absolute;
        bottom: 5px;
        display: flex;

    }

    .toolbar .mat-icon
    {
        margin:2vmin;
        
    }

    .toolbar .mat-icon * {
        font-size: 100%;
    }
    
    .mdi-100px.mdi-set, .mdi-100px.mdi:before {
        font-size: 100% !important;
        color:rgba(0, 255, 0, 1);
    }

    @media (orientation:landscape)
    {
        .toolbar
        {
            justify-content: center;
        }
    }
    @media (orientation:portrait)
    {
        .toolbar {
            z-index: 3;
            position: absolute;
            bottom: 5px;
            width:80%;
            
            justify-content: flex-end;
            margin-right: 20%;
        }
        
    }

}

@media only screen
{
    .cdk-overlay-pane
    {
        width:50%;
    }

    .mat-menu-panel
    {
        max-width:50% !important;
    }
}








