<div id="topCenter">
    
    
  </div>
<div id=orientationComponent>
  <p>
    hud orientation works!
    pitch {{pitch}}
    yaw {{yaw}}
    
  </p>
  
  <div id="Center">
      <canvas id="orientationYawCanvas" #orientationYawCanvas></canvas>
      <canvas id="orientationPitchCanvasLeft" class="pitchCanvas" #orientationPitchCanvasLeft></canvas>
    <div id="rollAndAcc">
      <canvas id="orientationRollCanvas" #orientationRollCanvas></canvas>
      <app-hud-accelerometer></app-hud-accelerometer>
      
    </div>
    <canvas id="orientationPitchCanvasRight" class="pitchCanvas" #orientationPitchCanvasRight></canvas>
  </div>
</div>
<div id="sampleCanvas">
    <canvas id=samplePitchCanvas #samplePitchCanvas></canvas>
    <canvas id ="sampleYawCanvas" #sampleYawCanvas></canvas>
</div>