#cameraScreen
{
    position: absolute;
    width:100%;
    
}

@media only screen  and (orientation:landscape)
{
    img
    {
        height: 100%;
    width: auto;
    display: block;

    }
}

@media only screen and (orientation:portrait)
{
    img
    {
        width:100%;
    }
}

app-hud-orientation
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display:flex;
    flex-wrap:wrap;
    
}