

@media only screen
{
    @media (orientation:landscape)
    {
        mat-icon {
    
            height: 100%;
            color:rgba(0,255,0,1);;
        }
        
        .mdi-100px.mdi-set, .mdi-100px.mdi:before {
            font-size: 15vmin;
            color:rgba(0, 255, 0, 1);
            width:15vmin;
        }
    }
    @media (orientation:portrait)
    {
        mat-icon {
    
            height: 100%;
            color:rgba(0,255,0,1);;
        }
        
        .mdi-100px.mdi-set, .mdi-100px.mdi:before {
            font-size: 100% !important;
            color:rgba(0, 255, 0, 1);
        }
    }
}