

  <button id="menuButton" mat-icon-button [matMenuTriggerFor]="appMenu" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()" role="presentation">
      <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <div mat-menu-item class="mainRow">
        <button class="mainButton powerOn" *ngIf="!dataService.isConnected()" mat-icon-button (click)="connect()"><mat-icon  svgIcon="power"></mat-icon></button>
          <button class="mainButton powerOff" *ngIf="dataService.isConnected()" mat-icon-button (click)="disconnect()"><mat-icon svgIcon="power"></mat-icon></button>
          <button class="mainButton" *ngIf="!this.voiceStarted" mat-icon-button (click)="voiceStart()"><mat-icon svgIcon="microphone-off"></mat-icon> </button>
          <button class="mainButton" *ngIf="this.voiceStarted" mat-icon-button (click)="voiceStop()"><mat-icon svgIcon="microphone"></mat-icon></button>
          <button class="mainButton" (click)="toggleVoiceSynthesis()" mat-icon-button ><mat-icon svgIcon="{{voiceSynthesis === true ? 'volume-high' : 'volume-mute'}}"></mat-icon></button>
    </div>
    
    
    <button *ngFor="let s of sensors" mat-menu-item>
      <mat-icon *ngIf="s.icon" [svgIcon]="s.icon"></mat-icon>
      {{s.name}}:
      <mat-icon *ngIf="s.status=='DAMAGED'" svgIcon='heart-broken'></mat-icon>
      <mat-icon *ngIf="s.status!='DAMAGED' && s.delay<=20" svgIcon='heart' class="green-heart"></mat-icon>
      <mat-icon *ngIf="s.status!='DAMAGED' && s.delay>20 && s.delay<=100" svgIcon='heart' class="orange-heart"></mat-icon>
      <mat-icon *ngIf="s.status!='DAMAGED' && s.delay>100" svgIcon='heart' class="red-heart"></mat-icon>
    </button>
    <!--mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let s of sensors">
        <mat-icon *ngIf="s.icon" [svgIcon]="s.icon"></mat-icon>
        {{s.name}}<br />
        {{s.delay}}ms
      </mat-grid-tile>   
    </mat-grid-list-->
  </mat-menu>
