#main-menu
{
    z-index:3;
}

/*mat-grid-list {
    max-width: 40em;
    min-width: 20em;
}

mat-grid-tile {
    flex-wrap: wrap; 
    text-align: center;
}
*/

.green-heart
{
    color: rgb(0,200,0) !important;
}

.orange-heart
{
    color:rgb(250,150,0) !important;
}

.red-heart
{
    color:rgb(255,0,0) !important;
}