

  <button mat-icon-button [matMenuTriggerFor]="appMenu" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()" role="presentation">
      <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button *ngIf="!dataService.isConnected()" mat-menu-item (click)="connect()">Connect</button>
    <button *ngIf="dataService.isConnected()" mat-menu-item (click)="disconnect()">Disconnect</button>
    <button *ngIf="!this.voiceStarted" mat-menu-item (click)="voiceStart()">Start voice recognition</button>
    <button *ngIf="this.voiceStarted" mat-menu-item (click)="voiceStop()">Stop voice recognition</button>
    <button mat-menu-item (click)="toggleVoiceSynthesis()">Voice synthesis: {{voiceSynthesis === true ? 'ATTIVO' : 'DISATTIVO'}}</button>
    <button *ngFor="let s of sensors" mat-menu-item>
      <mat-icon *ngIf="s.icon" [svgIcon]="s.icon"></mat-icon>
      {{s.name}}:
      <mat-icon *ngIf="s.status=='DAMAGED'" svgIcon='heart-broken'></mat-icon>
      <mat-icon *ngIf="s.status!='DAMAGED' && s.delay<=20" svgIcon='heart' class="green-heart"></mat-icon>
      <mat-icon *ngIf="s.status!='DAMAGED' && s.delay>20 && s.delay<=100" svgIcon='heart' class="orange-heart"></mat-icon>
      <mat-icon *ngIf="s.status!='DAMAGED' && s.delay>100" svgIcon='heart' class="red-heart"></mat-icon>
    </button>
    <!--mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let s of sensors">
        <mat-icon *ngIf="s.icon" [svgIcon]="s.icon"></mat-icon>
        {{s.name}}<br />
        {{s.delay}}ms
      </mat-grid-tile>   
    </mat-grid-list-->
  </mat-menu>
